h4{
    text-align: left;color: darkorange;
}
.first{
    border: 10px solid ridge;
    align-items: center;
    max-width: 780px;
    margin:auto;
    background-color: aquamarine;
    font-weight: 100%;
}
.rakib{
    font-display: center;
}
h2{
    text-align: center;color: lightsalmon;
}